.work-exp {
	color: white;
	font-size: 62px;
	font-weight: bolder;
	letter-spacing: 2px;
}

.bg-black {
	background-color: white;
	height: 201px;
	letter-spacing: 3px;
	font-size: 24px;

}

.text-home {
	font-size: 24px;
}

.text-name {
	font-size: 3em;
	color: black;
}

.social-media {
	background: #dedede;
}

.my-skills {
	font-weight: 100px;
	font-size: 42px;
	
	letter-spacing: 10px;
	font-family: 'Staatliches', cursive;
}

.ul-text {
	font-size: 32px;
	font-family: 'Cinzel', serif;
	letter-spacing: 2px;
}

#HTML5 {
	height: 100px;
	width: 100px;
}

#CSS {
	height: 100px;
	width: 100px;
}

#bootstrap {
	height: 100px;
	width: 100px;
}

#javascript {
	height: 100px;
	width: 100px;
}

#jquery {
	height: 100px;
	width: 100px;
}

#php {
	height: 100px;
	width: 100px;
}

img {
	height: 100%;
	width: 100%;
}

.font-div {
	width: 25%;
}

.container {
	font-family: 'Fira Sans', sans-serif;
}

body {
	animation: bgcolor infinite 20s;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}

@keyframes bgcolor {
	0% {
		background: #414a4c;
	}
	20% {
		background: #3b444b;
	}
	40% {
		background: #353839;
	}
	60% {
		background: #232b2b	;
	}
	80% {
		background: #0e1111;
	}
	100% {
		background: black;
	}
	

}



/*responsive*/
@media	only screen	and (max-width: 650px){
	.font-div {
		padding: 42.5px 0px!important;
	}
}



		#rainbow {
			margin: 0;
			padding: 0;
			position: relative;
			width: 400px;
			height: 240px;
			overflow: hidden;
			border-bottom: 1px solid rgba(0,0,0,.2);
		}

		#rainbow #rainbow1 {
			list-style: none;
			border-radius: 50%;
			border: 15px solid #000;
			position: absolute;
			top: 100%;
			left: 50%;
			border-bottom-color: transparent !important;
			border-left-color: transparent !important;
			box-shadow: 0 0 10px rgba(0,0,0,.5);
			animation: animate 5s infinite alternate;
			transform: translate(-50%, -50%);
		}

		#rainbow #rainbow1:nth-child(1) {
			width: 90px;
			height: 90px;
			border-color: #ff0000;
			animation-delay: .2s;
		}

		#rainbow #rainbow1:nth-child(2) {
			width: 120px;
			height: 120px;
			border-color: #ff7f00;
			animation-delay: .6s;
		}

		#rainbow #rainbow1:nth-child(3) {
			width: 150px;
			height: 150px;
			border-color: #ffff00;
			animation-delay: .8s;
		}

		#rainbow #rainbow1:nth-child(4) {
			width: 180px;
			height: 180px;
			border-color: #00ff00;
			animation-delay: 1s;
		}

		#rainbow #rainbow1:nth-child(5) {
			width: 210px;
			height: 210px;
			border-color: #0000ff;
			animation-delay: 1.2s;
		}

		#rainbow #rainbow1:nth-child(6) {
			width: 240px;
			height: 240px;
			border-color: #4b0082;
			animation-delay: 1.4s;
		}

		#rainbow #rainbow1:nth-child(7) {
			width: 270px;
			height: 270px;
			border-color: #9400d3;
			animation-delay: ;
		}

		@keyframes animate {
			0% {
				transform: translate(-50%, -50%) rotate(-45deg);
			}
			100% {
				transform: translate(-50%, -50%) rotate(315deg);
			}
		}
		/*end of rainbow*/

		/*start of star*/
		.rating {
	/*position: relative;
	top: 50%;
	left: 50%;*/
	/*transform: translate(-50%, -50%) rotateY(180deg);*/
	display: flex;
}

.rating input {
	display: none;
}

.rating label {
	display: block;	
	cursor: pointer;
	width: 50px;
	background: white;
}

.rating label:before {
	content: '\f005';
	font-family: fontAwesome;
	position: relative;
	display: block;
	font-size: 50px;
	color: gold;
	opacity: 0.2;
}

.rating label:after {
	content: '\f005';
	font-family: fontAwesome;
	position: absolute;
	display: block;
	font-size: 50px;
	color: gold;
	top: 0;
	opacity: 0;
	transition: .5s;
	text-shadow: 0 2px 5px rgba(0,0,0,.5);
}

.rating label:hover:after, 
.rating label:hover ~ label:after,
.rating input:checked ~ label:after 
{
	opacity: 1;
	
}

/*start of social media*/
#social {
	position: absolute;
	margin: 0;
	padding: 0;
	display: flex;
	/*top: 15%;
	left: 20%;
	float: left;*/
}

#social #social1 {
	list-style: none;
	width: 60px;
	height: 60px;
	display: block;
	text-align: center;
	margin: 0 10px;
	border-radius: 50%;
	padding: 12px;
	box-sizing: border-box;
	text-decoration: none;
	box-shadow: 0 10px 15px rgba(0,0,0,0.3);
	background: linear-gradient(0deg, #ddd, #fff);
	transition: .5s;
}

#social #social1 a:hover {
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

#social #social1 a .fa {
	width: 100%;
	height: 100%;
	display: block;
	background: linear-gradient(0deg, #fff, #ddd);
	border-radius: 50%;
	line-height: calc(60px -12px);
	font-size: 24px;
	color: #262626;
	transition: .5s;
}

#social #social1:nth-child(1) a:hover .fa {
	color: #3b5998;
}
#social #social1:nth-child(2) a:hover .fa {
	color: #00aced;
}
#social #social1:nth-child(3) a:hover .fa {
	color: #dd4b39;
}
#social #social1:nth-child(4) a:hover .fa {
	color: #bc2a8d;
}

.icons {
	font-size: 32px;

}

.fa-facebook {
	color: #3b5998;
}

.fa-instagram {
	color: #dd4b39;
}

.fa-google-plus-square {
	color: #bc2a8d;
}

/*start of folding hover*/
#fold {
	/*margin: 0;
	padding: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);*/
	width: 640px;
	height: 360px;
	display: flex;
}

#fold #fold1 {
	list-style: none;
	width: 25%;
	background: url(../img/fold.jpg);
	background-size: cover;

	/*background: #f1f1f1;*/
	height: 100%;
	transition: .5s;
}

#fold:hover #fold1:nth-child(odd) {
	transform: skewY(15deg);
	box-shadow: inset 20px 0 50px rgba(0,0,0,0.5); 
}

#fold:hover #fold1:nth-child(even) {
	transform: skewY(-15deg);
	box-shadow: inset 20px 0 50px rgba(0,0,0,0.5);
}

#fold #fold1:nth-child(1) {
	background-position: 0;


}

#fold #fold1:nth-child(2) {
	background-position: -160px;
	

}

#fold #fold1:nth-child(3) {
	background-position: calc(-160px * 2);
	

}

#fold #fold1:nth-child(4) {
	background-position: calc(-160px * 3);
	

}

.testimonials {
	margin: 200px auto 100px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	grid-gap: 20px; 
}

.testimonials #project {
	position: relative;
	width: 350px;
	margin: 0 auto;
	background: #333;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
	box-shadow: 0 10px 40px rgba(0,0,0,0.5);
	overflow: hidden;
}

.testimonials #project .layer {
	position: absolute;
	top: calc(100% - 2px);
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(#03a9f4, #e91ee3);
	z-index: 1;
	transition: 0.5s;
}

.testimonials #project:hover .layer {
	top: 0;
}
.testimonials #project .content {
	z-index: 2;
}
.testimonials #project .content p {
	font-size: 30px;
	letter-spacing: 2px;
	line-height: 26px;
	color: #fff;

}

#project2 {
	margin-top: 10px;
}

.my-project {
	font-weight: 100px;
	font-size: 4em;
	letter-spacing: 2px;
	color: white;
	font-family: arial;
}

 
  /*  body {
      background: #fff;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color:#000;
      margin: 0;
      padding: 0;
    }*/
    .swiper-container {
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
    }
    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 300px;
      height: 380px;
      background: #fff;
    }


/*start of 3d carousel*/
#3d {
  max-height: 300px;
  max-width: 300px;
}

.three-d {
	padding-top: 100px;
}

.swiper-slide .imgBX {
  width: 100%;
  height: 300px;
  overflow: hidden;
 
}

.swiper-slide .imgBX img {
  width: 100%;
}

.swiper-slide .details {
  box-sizing: border-box;
  font-size: 20px;
  padding: 20px;
}

.swiper-slide .details h3 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  text-align: center;
  line-height: 20px;
}

.swiper-slide .details h3 span {
  font-size: 16px;
  color: #f44336;
}


/*end of 3d carousel*/

.project-text {
	font-family: 'Cinzel', serif;
	color: white;
	font-size: 28px;
	
}
